@import url('https://fonts.googleapis.com/css?family=Courgette|Quicksand|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Sriracha');
body{
  /* font-family: 'Sriracha','Roboto Mono','Courgette'; */
  text-align:center;
  width:98%;
  border:1px solid #D4AF37;
  margin:5px auto 5px auto;
}
.container {
  width:100%;
  margin:0px;
  align-items: center;
  text-align:center;
  overflow: auto;
  clear:left;
  padding-top:50px;
}

#footer {
  width:100%;
  text-align:center;
  height:25px !important;
  background-color: #c0a355;
  color:#FFFFFF;
  font-size: 0.9em;
  margin:0px;
}
@media screen and (min-width: 860px) {
}
@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 970px) {
}
@media screen and (max-width: 860px) {
}
.member {
color:#D4AF37;
font-weight:bold;
}
div.set {
margin:auto;
margin-top:8px;
width:92%;
}
div.title {
  width:63% !important;
  text-align:left !important;
  background-color: #416e51;
  color:#FFFFFF;
  border:1px solid #416e51;
  padding:5px;
  border-top-right-radius:10px;
}
div.content {
  width:95% !important;
  text-align:left !important;
  border:1px solid #416e51;
  padding:10px;
}
table td.title{
  width:35% !important;
  background-color: #416e51;
  color:#FFFFFF;
  border:1px solid #416e51;
  /*display:block;*/
}
table td.content{
  width:65% !important;
  text-align:left !important;
  border:1px solid #416e51;
  padding:5px;
  /*display:block;*/
}